extends layout

block content
	if authed
		p Logged in: #{user}
		img(src=picture, alt="picture", width="23", height="23")
		br
		a(href="/logout") logout
	else
		a(href="/login/google") login with google
